<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<title>formulario de materias</title>
</head>
<body>
	<div class="container">
		<h1>Formulario Materias</h1>
		<form data-th-object="${nuevaMateria}" data-th-action="${band}?@{/modificarMateria}:@{/guardarMateria}" method="post">
			  <div class="col-md-6">
			    <label for="cod" class="form-label">Codigo</label>
			    <input type="text" class="form-control" id="cod" data-th-field="*{codigo}">
			  </div>
			  <div class="col-md-6">
			    <label for="nommateria" class="form-label">Nombre de la Materia</label>
			    <input type="text" class="form-control" id="nommateria" data-th-field="*{nombre}">
			  </div>
			  <div class="col-md-6">
			    <label for="docente" class="form-label">Docente</label>
			    <input type="text" class="form-control" id="docente" data-th-field="*{docente}">
			  </div>
			  <div class="col-md-4">
			    <label for="cantaños" class="form-label">Cantidad de años</label>
			    <input type="number" class="form-control" id="cantaños" data-th-field="*{cantAnios}">
			  </div>
			  <div>
				<label for="MV">Virtual: </label>
				<input id="MV" type="radio" value="Virtual" name="modalidad"></input>
				<label for="MP">Presencial: </label>
				<input id="MP" type="radio" value="Presencial" name="modalidad"></input>
				</div>
			  
			  
			  <button type="submit" class="btn btn-primary">Guardar materia</button>
			</form>
		</div>


<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>